.cart {
    background-color: #FFE0B3;
    padding: 15px;
    position: sticky;
    top: 0;
}

.cart h4 {
    margin: 0;
}

.btn-clear-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF3030;
    width: 90%;
    height: 56px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}